@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 100vh;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPanel {
  max-width: 423px;
  min-height: 650px;
  border-radius: 40px;
  background: linear-gradient(166deg, #373737 0%, #252628 22.9%, #000309 100%);
}

.buttonsControl {
  display: flex;
  justify-content: center;
  position: relative;
}

.toggleButton {
  width: 122px;
  height: 44px;
  flex-shrink: 0;
  border: 2px solid none;
  border-radius: 40px;
  background: #1B6A9C;
  margin-top: 40px;
  position: relative;
}

.lightMode {
  font-size: 28px;
  color:#FBFBFB66;
  flex-shrink: 0;
  padding: 7px 0 7.26px 17px;
  cursor: pointer;
}

.darkMode {
  font-size: 28px;
  color:#FBFBFB66;
  flex-shrink: 0;
  padding: 7px 0 7.26px 27px;
  cursor: pointer;
}

.changerMode .active{
  width: 68px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #003661;
  color: #FBFBFBCC;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

}

.history {
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  top: 43px;
  right: 34px;
  color: #FBFBFB;
}

.inputPanel {
  min-width: 355px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

}

.visionDisplay {
  color: rgba(251, 251, 251, 0.50);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 34px 10px 0;
}

.equalsDisplay{
  display: flex;
  justify-content: space-between;

}

.equal {
  color: #FBFBFB;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 34px;
}

input {
  font-size: 26px;
  width: 165px;
  background: none;
  border: none;
  color: #FBFBFB;
  text-align: right;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 34px;
  outline: none;
}

.buttonsPanel {
  width: 423px;
  height: 443px;
  flex-shrink: 0;
  border-radius: 30px;
  background: linear-gradient(rgba(57, 165, 227, 0.4), rgba(11, 45, 66, 0.4));
  padding: 30px 0 0 34px;
  display: flex;
  position: relative;
}

.primaryButtons {
  width: 275px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(5, 5, 5, 0.30);
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.button-negate,
.button-percent,
.button-ac {
  border: none;
  background: none;
  color: #FBFBFB;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 0 27px;
  position: relative;
}

.button-negate::before,
.button-percent::before,
.button-ac::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(111, 109, 109, 0);
  transition: background 0.3s;
}

.button-negate:hover::before,
.button-percent:hover::before,
.button-ac:hover::before {
  background: rgba(111, 109, 109, 0.3);
}

.secondaryButtons {
  width: 70px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(5, 5, 5, 0.30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
}

.button-secondary-divide,
.button-secondary-multiply,
.button-secondary-substract,
.button-secondary-add,
.button-secondary-equals {
  border: none;
  background: none;
  color: #FBFBFB;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 21px 0;
}

.button-secondary-divide:hover {
  width: 70px;
  border-radius: 40px 40px 0 0;
  background: rgba(111, 109, 109, 0.3);
}

.button-secondary-equals:hover{
  width: 70px;
  border-radius: 0 0 40px 40px;;
  background: rgba(111, 109, 109, 0.3);
}

.button-secondary-multiply:hover,
.button-secondary-substract:hover,
.button-secondary-add:hover {
  width: 70px;
  background: rgba(111, 109, 109, 0.3);
}


.numericButtons {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 70px);
  gap: 10px;
  position: absolute;
  top: 110px;
}

.nums {
  border: none;
  background: none;
  color: #FBFBFB;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(5, 5, 5, 0.30);
  cursor: pointer;
}

.nums:hover {
  width: 60px;
  height: 60px;

  background: rgba(111, 109, 109, 0.3);
}
